@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Manrope:wght@400;700;800&family=Roboto:wght@300;400;500;700;900&family=Rubik+Pixels&display=swap");

:root {
  /* font family */
  --main-family: "Roboto", sans-serif;
  /* --second-family: "Inter", sans-serif; */
  /* font size */
  --main-size: 18px;
  --nav-size: 16px;
  --third-size: 40px;
  --section-title-size: 48px;

  /* colors */
  --black-color: #000000;
  --dark-blue: #1c2937;
  --blue-color: #0a5bba;
  --blue-light: #0088ff;
  --orange-color: #ff8a00;
  /* --rgba-color: rgba(151, 151, 151, 0.2); */
  /* --grey-color: #767e8c; */
  --lightgrey-color: #edf1f6;
  --white-color: #ffffff;

  /* --container-width: 1200px; */
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--main-family);
}
