.regPass-container {
  display: flex;
  height: 100vh;
}

.regPass-background-image {
  width: 893px;
  height: 125vh;
  object-fit: cover;
}

.regPass-wrapper-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.regPass-header {
  display: flex;
  justify-content: space-between;
}

.regPass-conatiner-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 145px;
}

.regPass-conatiner-title > h3 {
  font-size: 36px;
  font-family: var(--secondary-family);
}

.regPass-conatiner-title > p {
  font-size: var(--main-family);
}

.from-container-regPass {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.email-regPass {
  display: flex;
  flex-direction: column;
}

.email-regPass > input:focus {
  outline: none;
}

.regPass-input-email {
  height: 49px;
  border-radius: 8px;
  border: 1px solid var(--dark-blue);
  padding: 0 10px;
  font-family: var(--main-family);
  font-size: 18px;
}

.regPass-input-email-error {
  height: 49px;
  border-radius: 8px;
  border: 1px solid var(--red-color);
  padding: 0 10px;
  font-family: var(--main-family);
  font-size: 18px;
}

.email-regPass-span {
  //   font-family: var(--third-family);
  font-size: 14px;
}

.email-regPass-span-error {
  //   font-family: var(--third-family);
  font-size: 14px;
  color: var(--red-color);
  margin-left: 10px;
}

//!!!!!!!!

.input-regPass {
  border: 1px solid var(--dark-blue);
  border-radius: 8px;
  outline: none;
  //   flex: 1;
  padding: 0 10px;
  font-family: var(--main-family);
  font-size: 18px;
  height: 49px;
}

.input-conatiner-regPass {
  display: flex;
  flex-direction: column;
}

.input-conatiner-regPass > span {
  font-size: 14px;
}

.regPass-regPass-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.regPass-regPass-container > button {
  height: 53px;
  border-radius: 8px;
  border: none;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-family: var(--secondary-family);
  font-size: 20px;
}

.regPass-regPass-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.regPass-regPass-title > span > strong {
  color: var(--blue-color);
  font-weight: bolder;
  font-family: var(--secondary-family);
  font-size: 18px;
  cursor: pointer;
}

.regPass-regPass-title > span {
  font-size: 18px;
}

.regPass-help {
  margin-top: 140px;
}

.strong-regPass {
  color: var(--blue-color);
  font-weight: bolder;
  font-family: var(--secondary-family);
}

.checkBox-conatiner-regPass {
  display: flex;
  gap: 15px;
}

.checkBox-regPass {
  width: 24px;
  height: 24px;
  border-radius: 10px;
}

.checkBox-conatiner-regPass > p > strong {
  color: var(--blue-color);
  font-weight: bolder;
  font-family: var(--secondary-family);
  cursor: pointer;
}
